/* ------------------ */
/* General parameters */
/* ------------------ */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.main-wrapper {
    max-width: 992px;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.localisation-wrapper, .fonctionnement-wrapper,.card-restaurant-wrapper {
    margin: 0 20px 0 20px;  
}

/* ------------------ */
/* Color managing */
/* ------------------ */
:root{
    --couleur-primaire:#9356DC;
    --couleur-secondaire: #FF79DA;
    --color-box-selected: #ccbfdd;
    --couleur-tertiaire: #99E2D0;
    --color-card-restaurant-new: #278870;
    --color-footer-wrapper: #5f5d5d;
    --color-icone-shadow: #636363cc;
    --color-localisation-wrapper: rgba(184, 180, 180, 0.322);
    --color-background-reservation-fonctionnement:  rgba(243, 241, 241, 0.945);
}

/* ------------------ */
/* Font size managing */
/* ------------------ */

.main-title-font-size {
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    font-weight: 500;
}

.localisation-font-size {
    font-size: 1rem;
    font-weight: 500;
}

.explore-font-size {
    font-size: 1rem;
    font-weight: 500;
}

.reservation-font-size {
    font-weight: 700;
    font-size: 1.6rem;
}

.main-font-size-description {
    font-size: 1.2rem;
    font-weight: 300;
}

.fonctionnement-title-font-size {
    font-weight: 700;
    font-size: 1.5rem;
}

.fonctionnement-font-size {
    font-size: 1.05rem;
    font-weight: 500;   
}

.fonctionnement-number-font-size {
    font-size: 0.8rem;
    font-weight: 500;   
}

.footer-title-font-size{
   font-family: 'Shrikhand', cursive;
   color: white;
   font-weight: 500;
}

/* Header part (text + lien sur les restaurants)  */
.header-wrapper {
    display: flex;
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 3000;
}

.header-wrapper h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* localisation section part */
.localisation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-localisation-wrapper);
    margin-left: 0;
    margin-right: 0;
}

.localisation-highlight-effect {
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(#b8b5b8, #e6e4e4);
    top: 0;
}

.fa-location-dot {
    padding-right: 20px;
}

/* Reservation section part */

.reservation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color-background-reservation-fonctionnement);
    padding: 20px 30px 40px 30px;
}

.explore-restaurant-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 30px auto;
    border-radius: 28px;
    background: linear-gradient(var(--couleur-secondaire), var(--couleur-primaire));

    box-shadow: 0 2px 4px var(--color-icone-shadow);
    padding: 0 20px 0 20px;
}

.explore-restaurant-link p {
    color: white;
}

/* Fonctionnement section part */

.fonctionnement-list {
    display: flex;
    justify-content: space-between;
}


.fonctionnement-link {
    display: flex;
    align-items: center;
    background-color: var(--color-background-reservation-fonctionnement);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 7px #d3d3d3;
    text-decoration: none;
    color: black;
}

.fonctionnement-link p {
    margin: 0;
}

.fonctionnement-content-circle-icon {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0 -10px;
    background-color: var(--couleur-primaire);
    color: #ffffff;
}

.fonctionnement-link i {
    color: var(--color-icone-shadow);
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.2rem;
}

.fonctionnement-link p {
    display: flex;
    padding: 27px; 
    flex: 1;
    justify-content: center;
    text-decoration: none;
}

.fonctionnement-link:hover {
    background: var(--color-box-selected);
}

/* Restaurant section part */

.card-restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-restaurant-link {
    width: 31%;
}

.card-restaurant {
    width: 100%;
    height: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 2px 2px 7px #d3d3d3;
    transition: 0.3s;
    margin-bottom: 20px;
}

.card-restaurant-image {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-restaurant-new {
    position: absolute;
    right: 15px;
    top: 15px;
    background: var(--couleur-tertiaire);
    border-radius: 2px;
}

.card-restaurant-new p {
    display: block;
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-card-restaurant-new);
    font-weight: 500;
    padding: 6px 12px 6px 12px;
    margin: 0;
}

.card-restaurant-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 25px;
    color: black;
}

.card-restaurant-description {
    display: flex;
    flex-direction: column;
}

.card-restaurant-description h3, .card-restaurant-description p {
    margin: 0;
}

.card-restaurant-description h3{
    padding-bottom: 3px;
}

.fa-heart{
    font-size: 1.5rem;
}

/* Footer part  */

.footer-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--color-footer-wrapper);
}

.footer-content {
    display: flex;
    width: 992px;
    flex-direction: column;
}

.footer-wrapper ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style-type: none;
}

.footer-wrapper h3 {
    display: flex;
    justify-content: center;
}

.footer-wrapper i {
    padding-right: 10px;
}

.footer-wrapper i,a {
    text-decoration: none;
    color: white;
}

.footer-wrapper a:hover {
    color: var(--couleur-secondaire);  
}

/* ----------------------- */
/* Responsive part: Mobile */
/* ----------------------- */


@media screen and (max-width: 767px) {

    .fonctionnement-list {
        display: block;
    }

    .card-restaurant-link {
        width:100%;
    }

    .footer-wrapper h3, .footer-wrapper ul {
        display: block;
    }

    .footer-wrapper li {
        padding-top: 6px;
    }
}